<%= render 'pages/home' %>

<div id="pins">
	<%= render @pins %>
</div>

<% form_tag pins_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= will_paginate @pins %>
